<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre_del_Artículo %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Descripción %><br>
    <%= f.text_area :description %>
  </div>

 <div class="field">
    <%= f.label :Categoría %><br>
    <%= f.text_area :category %>
  </div>

  <div class="field">
    <%= f.label :Foto %><br>
    <%= f.file_field :picture %>

  </div>
  <div class="field">
    <%= f.label :Stock %><br>
    <%= f.number_field :stock %>
  </div>
  <div class="field">
    <%= f.label :Precio %><br>
    <%= f.number_field :price %>
  </div>
    <div class="field">
    <%= f.label :Inicio %><br>
    <%= f.number_field :created_at, class:'datepicker' %>
  </div>
    <div class="field">
    <%= f.label :Término %><br>
    <%= f.number_field :Finished_at, class:'datepicker' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
