<p id="notice"><%= notice %></p>
<% if !user_signed_in? %>
<div class="jumbotron">
  <h1>CAPITALÍSIMO</h1>
  <p>Venta de productos y servicios sin intermediarios.</p>
  <p><%= link_to "Registrate aquí para empezar", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% end %>


<div class="container">
  <h1>Últimos Avisos Publicados</h1>

  <% @products.each do |product| %>

  
  <div class="col-md-3">
    <div class="thumbnail">
      <h4><%= product.name %></h4>
      <p><%= product.description %></p>
      <p><%= product.category %></p>
      <%= image_tag(product.picture, :class =>'img-responsive')%>
      
      <p>Stock <%= product.stock %> unidades</p>
      <h3> $ <%=product.price %></h3>
      <p>Publicado el: <%= product.start_date %></p>
      <p>Oferta vigente hasta el: <%= product.end_date %></p>
      <p>Usuario: <%= product.user_id %></p>
      <div class="buttons" style="margin-top:10px; margin-bottom:10px">
        <%= link_to 'Ver Detalle', product, :class =>'btn' %>
        <%= link_to 'Editar', edit_product_path(product), :class =>'btn' %>
        <%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'btn' %>
      </div>
    </div>
  </div>

  <% end %>

</div>

<div class="container">
  <%= link_to 'Publicar un aviso', new_product_path, :class =>'btn' %>
</div>


